<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{.Metadata}}</title>
</head>
<body>
    <div class="text-center m-10">
        <h1 class="text-blue-500 text-xl2">{{.PageTitle}}</h1>    
        <ul>
            {{range .Todos}}
            <li>{{.Title}}</li>
            {{end}}
        </ul>
        <a href="/about" class="bg-purple-500 p-5 border-radius-full mt-10">About me!</a>
    </div>
</body>
</html>